/***----------[ Item Tables ]----------***
.itemhover
  .text
    font-family: "ComicNeue Angular"
    font-size: 20px

  .text2
    visibility: hidden
    z-index: 2
    position: absolute
    font-family: "ComicNeue Angular"
    box-shadow: 0px 0px 0px 5px #2bf8ff
    border-radius: 5px
    padding-left: 0.5%
    padding-right: 0.5%
    padding-bottom: 0.5%
    padding-top: 0.5%
    background-color: #fff
    text-align: center

  &:hover .text2
    visibility: visible