/***----------[ Adjustments ]----------***/
/* "Special:Community" Adjustments */
/* Credit to https://adoptme.fandom.com/wiki/MediaWiki:Staff.css */

.page-Special_Community [class^="userlink"] {
  &::before {
    width: unset !important;
    height: unset !important;
    background-size: unset !important;
    margin-right: unset !important;
    vertical-align: unset !important;
  }

  display: inline-block !important;
}