/***----------[ Create a Page ]----------***/
#create-page-dialog__message:first-of-type::before {
  content: 'Follow the rules before creating an article.\A- Do not create pages solely for the purpose of trading or begging\A- Page names and their content must be appropriate\ASee more rules on the Rules page\A\A';
  color: #ff0400;
  white-space: pre;
}

.create-page-dialog__proposals {
  display: none;
}