/***----------[ Global CSS ]----------***
::-webkit-scrollbar, ::-webkit-scrollbar-track
  .theme-fandomdesktop-light &
    background: #fff !important
  .theme-fandomdesktop-dark &
    background: #000


::-webkit-scrollbar
  width: 0.75vmax

::-webkit-scrollbar-thumb
  background: var(--theme-accent-color)

  &:hover
    background: var(--bgs-scrollbar-hover-background)
  
.fandom-community-header__community-name
  text-shadow: 2px 2px 4px var(--bgs-community-name-shadow)