/***----------[ Global CSS ]----------***
::-webkit-scrollbar, ::-webkit-scrollbar-track
  background: var(--bgs-scrollbar-background)


::-webkit-scrollbar
  width: 0.75vmax

::-webkit-scrollbar-thumb
  background: var(--theme-accent-color)

  &:hover
    background: var(--bgs-scrollbar-background)
  
.delete-notice-top
  border-bottom: 0.1px solid var(--bgs-delete-notice-top-border)

.for-list
  border: 1px solid var(--bgs-for-list-border)
  color: var(--bgs-for-list-color)
  background: var(--bgs-for-list-background)

.frame-square
  background-color: var(--bgs-frame-background)

.frame
  @extend .frame-square
  border: 0.1px solid var(--bgs-frame-border)

.divider
  border-bottom: 0.1px solid var(--bgs-divider-border-bottom)

.header
  border: 1px solid var(--bgs-main-color)
  & .td
    background-color:  var(--bgs-header-background)
    color: var(--bgs-header-color)

.invalid
  color: var(--bgs-invalid-code-color)

.latest
  color: var(--bgs-latest-code-color)

.theme-fandomdesktop-dark .robux
  filter: invert(1)

.shortcuts
  color: var(--bgs-shortcuts-color)
  border: 1px solid var(--bgs-shortcuts-color)

.twitch
  color: var(--bgs-twitch-code-color)

.valid
  color: var(--bgs-valid-code-color)