/***----------[ Item Multipliers ]----------***/
.Jewel, .Bubble, .Coin, .Candy, .Candy-1, .Block, .Shell, .Pearl, .Star, .Magma, .CandyC, .Gift, .Ticket, .Rainbows, .Crystal, .Flower, .Token, .Treat, .Bell, .Silver, .Lollipop, .All {
  text-shadow: var(--bgs-rarity-multiplier-text-stroke) 0 0 1px;
  font-size: 24px;
  -webkit-text-stroke: 0.8px var(--bgs-rarity-multiplier-text-stroke);
  font-family: "ComicNeue Angular";
}

.Jewel {
  color: #9c00fe;
}

.Bubble {
  color: #e082ff;
}

.Coin {
  color: #ffc107;
}

.Candy {
  color: #EB0204;
}

.Candy-1 {
  color: #FF00E6;
}

.Block {
  color: #FF0000;
}

.Shell {
  color: #FF7E15;
}

.Pearl {
  color: #D7FFF7;
}

.Star {
  color: #EED441;
}

.Magma {
  color: #CD4A00;
}

.CandyC {
  color: #F5953E;
}

.Gift {
  color: #F7414A;
}

.Ticket {
  color: #E7741B;
}

.Rainbows {
  color: #FF2929;
}

.Crystal {
  color: #FF00E6;
}

.Flower {
  color: #EB0204;
}

.Token {
  color: #C57DFF;
}

.Treat {
  color: #FF6E00;
}

.Bell {
  color: #F9D44E;
}

.Silver {
  color: #FFFFFF;
}

.Lollipop {
  color: #FCD74F;
}

.All {
  -webkit-animation: allC 5s infinite;
  -moz-animation: allC 5s infinite;
  -ms-animation: allC 5s infinite;
  animation: allC 5s infinite;
}