/***----------[ CSS Variables Declaration ]----------***
.theme-fandomdesktop-light
    --bgs-community-name-shadow: #fff
    --bgs-scrollbar-hover-background: #FD76BF
    --bgs-infobox-button-action: #c20067

.theme-fandomdesktop-dark
    --bgs-community-name-shadow: #000
    --bgs-scrollbar-hover-background: #00196bd2 
    --bgs-infobox-button-action: #00014e