/***----------[ CSS Variables Declaration ]----------***
.theme-fandomdesktop-light
    --bgs-main-color: #f474b8
    --bgs-secondary-color: #5984c2
    --bgs-scrollbar-hover-background: #FD76BF
    --bgs-infobox-button-action: #c20067
    --bgs-scrollbar-track-background: #fff
    --bgs-infobox-button-color: #000
    --bgs-infobox-calculator-input-background: #fff
    --bgs-infobox-calculator-input-color: #000
    --bgs-infobox-calculator-input-border: #7a7a7a
    --bgs-infobox-calculator-input-focus-color: #57d8ff
    --bgs-rarity-multiplier-text-stroke: #000
    --bgs-table-item-text-background: #fff
    --bgs-table-item-text-shadow: #2bf8ff
    --bgs-navi-tooltip-background: #f474b8
    --bgs-navi-tooltip-color: #fff
    --bgs-navi-tooltip-border: #fff
    --bgs-bgsTable-background: #5984c2
    --bgs-bgsTable-shadow: #fff
    --bgs-delete-notice-top-border: #a6a6a6
    --bgs-for-list-border: #fff
    --bgs-for-list-color: #fff
    --bgs-for-list-background: #F57EFF
    --bgs-frame-background: #fff
    --bgs-frame-border: #7a7979
    --bgs-divider-border-bottom: #a6a6a6
    --bgs-header-background: #fff
    --bgs-header-color: #fff
    --bgs-invalid-code-color: #7a0000
    --bgs-latest-code-color: #193cff
    --bgs-shortcuts-color: #000
    --bgs-twitch-code-color:  #158a25
    --bgs-valid-code-color: #6441a5
    --bgs-darken-filter-percent: 1

.theme-fandomdesktop-dark
    --bgs-main-color: #921558
    --bgs-secondary-color: #184686
    --bgs-scrollbar-hover-background: #00196bd2 
    --bgs-infobox-button-action: #00014e
    --bgs-scrollbar-background: #000
    --bgs-infobox-button-color: #fff
    --bgs-infobox-calculator-input-background: #000
    --bgs-infobox-calculator-input-color: #fff
    --bgs-infobox-calculator-input-border: #303030
    --bgs-infobox-calculator-input-focus-color: #3d7c8f
    --bgs-rarity-multiplier-text-stroke: #fff
    --bgs-table-item-text-background: #000
    --bgs-table-item-text-shadow: #0e38c0
    --bgs-navi-tooltip-background: #292cce
    --bgs-navi-tooltip-color: #fff
    --bgs-navi-tooltip-border: #fff
    --bgs-bgsTable-background: #113e7c
    --bgs-bgsTable-shadow: #000
    --bgs-delete-notice-top-border: #444444
    --bgs-for-list-border: #000
    --bgs-for-list-color: #000
    --bgs-for-list-background: #43bdd3
    --bgs-frame-background: #fff
    --bgs-frame-border: #7a7979
    --bgs-divider-border-bottom: #505050
    --bgs-header-background: #000
    --bgs-header-color: #fff
    --bgs-invalid-code-color: #c21313
    --bgs-latest-code-color: #6879d8
    --bgs-shortcuts-color: #fff
    --bgs-twitch-code-color:  #71e480
    --bgs-valid-code-color: #8e66da
    --bgs-darken-filter-percent: 0